body {
    background-image: url("../img/bgimage.jpg");
    background-position: center;
    background-color: #000000;
    background-size: 1700px auto;
    background-repeat: no-repeat;
}

label {
    color: white;
}

.top-bar {
    z-index: 999;
    height: 60px;
    background-color: #333232;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.top-bar-section ul li > a {
    height: 60px;
    font-size: 1rem;
}

.panel {
    background-color: rgba(0, 0, 0, 0.7);
}

#editor {
    display: none;
    -webkit-transition-duration: 5s; /* Safari */
    transition-duration: 5s;
}

#content {
    overflow: auto;
    border: 1px #CCCCCC;
}

button {
    cursor: pointer;
    color: white;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
}

.paul-thumbnail {
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.paul-thumbnail:HOVER {
    cursor: pointer;
    border: solid 2px;
    border-color: #8C3130;
}

/*This is related to the view_image view*/
#canvas-image-source {
    display: none;
}

#canvas-container {
    vertical-align: middle;
    width: 100%;
    max-height: 800px;
    margin-bottom: 20px;
}

#sliders {
    vertical-align: middle;
    max-height: 800px;
}

#image-canvas {
    /*image-canvas size is also modified in javascript*/
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 500px;

    /*canvas-container size is modified in javascript*/
    /*Shadows*/
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.slider {
    width: 100%;
}

/*Login and register buttons*/
#login-button, #register-button {
    width: 100%;
    max-width: 100%;
}
