h2{color:#CCCCCC;}



body {
margin-top:0px;
margin-left:auto;
margin-right:auto;
background-color: #333333;
padding-bottom:0px;
}




#header{
background-color: #FFFFFF;
min-width:1040px; /*adjust at the end*/
margin-left:auto;
margin-right:auto;
height:100px;
Text-Align: left;

}

#footer {
border-top:solid red thin;
border-bottom:solid black thin;
background-color:black;
height:50px;
min-width:1040px;  /*adjust at the end*/
margin-left:auto;
margin-right:auto;	
text-align:center;
color: #E6E6FA;
}



#wrapper {

/*border:solid black;*/
margin: 25px auto 0 auto;
position: static;
width:900px;
padding-left:60px;
padding-right:60px;

}



#content {
margin-left:auto;
margin-right:auto;
border:solid #CCCCCC;
border-radius:10px;
padding-top:0px;
padding-left:50px;
padding-right:50px;
padding-bottom:50px;
width: 760px;
position:static;
background-color:#8C3130;

}


#loginbody{
float:right;
display:block;
background-color: #5F5F5F;
text-align:center;
padding:10px;
position: relative;
width: 170px;
Height: 300px;
right:-225px;
border: solid #CCCCCC;
z-index: 999;
border-radius: 10px;
}










a:visited {
text-decoration: none;
}

a:link {
color: black;
background-color: transparent;
text-decoration: ;
}

a:hover {
color: green ;
background-color: transparent ;
}

input  {
width:150px;
display:block;
border: 1px solid #999;
height: 25px;

}
button:hover {
background-color:#CCCCCC;
}

button:active {
	position:relative;
	top:1px;
}

a {
text-decoration: none;
}


button {

	padding: 6px 12px;
	border-radius:22px;
	border:thin solid #05f5f5;
	display:inline-block;
	cursor:pointer;
	color:#00000b;
	font-family:arial;
	font-size:14px;
	
	text-decoration:none;
}

button.small{
	width:80px;
	height:34px;
}

button.floatright{
	float:right;
	margin-right: 0px;
}


button.floatleft{
	float:left;
	margin-left: 0px;
}









/*#feedback { 
height: 104px; 
width: 104px; 
position: fixed; 
top: 40%;
left:0px;
z-index: 999;
transform: rotate(-90deg);
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
-o-transform: rotate(-90deg); 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
display: block; 
background: #f00; 
height: 15px; 
width: 70px; 
padding: 8px 16px;
color: #fff; 
font-family: Arial, sans-serif; 
font-size: 17px; 
font-weight: bold; 
text-decoration: none; 
border-bottom: solid 1px #333;
border-left: solid 1px #333;
border-right: solid 1px #fff;
}

#feedback a:hover { 
background: #06c; 
}*/