{% extends 'base.html' %}

{% block content %}


    <div class="large-10 medium-10 columns">
        <img id="canvas-image-source" src="/{{ image.file }}">

        <div id="canvas-container">
            <canvas id="image-canvas" width="100" height="100"></canvas>
        </div>
    </div>
    <div class="large-2 medium-2 columns">
        <div class="slider">
            <row>
                <label for="brightness-slider">Brightness</label>
            </row>
            <row>
                <input id="brightness-slider" class="slider" type="range" min="-100" max="100"/>
            </row>
        </div>
        <div class="slider">
            <row>
                <label for="contrast-slider">Contrast</label>
            </row>
            <row>
                <input id="contrast-slider" class="slider" type="range" min="-100" max="100"/>
            </row>
        </div>
        <div class="slider">
            <row>
                <label for="saturation-slider">Saturation</label>
            </row>
            <row>
                <input id="saturation-slider" class="slider" type="range" min="-100" max="100"/>
            </row>
        </div>
        <div class="slider">
            <row>
                <label for="hue-slider">Hue</label>
            </row>
            <row>
                <input id="hue-slider" class="slider" type="range" min="0" max="100" value="100"/>
            </row>
        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/js/caman.full.min.js"></script>
    <script src="/static/js/paul_camanjs.js"></script>
{% endblock %}
