{% extends 'base.html' %}

{% block content %}


    <div class="large-10 medium-10 columns">
        <img id="canvas-image-source" src="/files/{{ image.id }}">

        <div id="canvas-container">
            <canvas id="image-canvas" width="100" height="100"></canvas>
        </div>
    </div>
    <div class="large-2 medium-2 columns">
        <row>
            <label for="brightness-slider">Brightness</label>
        </row>
        <row>
            <input id="brightness-slider" class="slider" type="range" min="-100" max="100"/>
        </row>
        <row>
            <label for="contrast-slider">Contrast</label>
        </row>
        <row>
            <input id="contrast-slider" class="slider" type="range" min="-100" max="100"/>
        </row>
        <row>
            <label for="saturation-slider">Saturation</label>
        </row>
        <row>
            <input id="saturation-slider" class="slider" type="range" min="-100" max="100"/>
        </row>
        <row>
            <label for="hue-slider">Hue</label>
        </row>
        <row>
            <input id="hue-slider" class="slider" type="range" min="0" max="100" value="100"/>
        </row>
        <row>
            <label for="vignette-slider">Vignette</label>
        </row>
        <row>
            <input id="vignette-slider" class="slider" type="range" min="0" max="100" value="0"/>
        </row>
        <row>
            <button id="reset-button">Reset</button>
        </row>
         <row>
            <button id="save-button">Save</button>
        </row>
    </div>
{% endblock %}
