{% extends 'base.html' %}

{% block content %}
<!--Index.html content here -->
<h1> Meet le Paul </h1>

    <p>Meet le Paul! Le Paul is blah blah blah blah blah</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus lorem, lacinia accumsan lorem vitae, venenatis rhoncus massa. Nullam efficitur, leo vitae fringilla suscipit, ex ligula maximus neque, sed posuere risus nisl in dolor. Nullam ligula nibh, vulputate id vestibulum et, ullamcorper sit amet magna. Cras non euismod odio. Fusce eget ultrices risus. Duis massa risus, placerat ornare commodo ac, molestie a mi. Sed condimentum eu felis non bibendum. Maecenas felis urna, lobortis quis consequat sit amet, laoreet eget orci. Nunc arcu mauris, eleifend in mauris ut, fermentum efficitur neque. In cursus volutpat ante, nec consequat erat.

Donec ut nulla est. Integer porttitor, elit et volutpat consequat, ex felis porttitor augue, vel fermentum odio tortor vel felis. Vivamus est tellus, dignissim in vehicula in, iaculis at massa. Mauris id quam quis diam sodales lobortis. Donec a ornare diam. In hendrerit turpis ut mi egestas, sit amet aliquam erat rutrum. Proin ultrices elit neque, in placerat lorem semper et. Aliquam pellentesque leo at sapien condimentum, at feugiat leo blandit. Cras et turpis eget mauris egestas ullamcorper. Suspendisse nec dui non massa commodo varius. Curabitur vestibulum pellentesque velit, at viverra dolor pharetra vel. Morbi libero sem, vulputate id metus et, dignissim viverra ex.

Cras sed erat molestie, fermentum mauris eget, mollis purus. Praesent eget cursus ipsum. Maecenas commodo semper erat, sit amet blandit erat laoreet ut. Proin urna velit, pretium a ligula eget, laoreet cursus eros. Donec in sapien in elit fermentum accumsan. Vestibulum gravida eleifend tincidunt. Vestibulum cursus nunc eget blandit hendrerit. Fusce egestas ante sit amet purus scelerisque sollicitudin.

Curabitur id tortor nec neque faucibus porttitor. Sed dignissim vulputate ex, et semper nibh maximus et. Donec at mi libero. Proin vitae vehicula elit, vitae dictum sem. Morbi semper faucibus pulvinar. Ut id accumsan ipsum. Aenean ornare, libero id consectetur scelerisque, odio risus placerat turpis, ac interdum nibh turpis a massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent quis elit eget libero condimentum porttitor a in purus. Proin laoreet est et mattis feugiat.

Suspendisse mattis neque odio, ac tristique leo porta at. Etiam tincidunt eros euismod mi elementum, at tristique urna condimentum. Proin id efficitur nunc. Donec non est et tellus sollicitudin tempor vitae et ipsum. Mauris semper libero magna, ut vulputate lectus vestibulum nec. Aenean quis dignissim dolor, id imperdiet turpis. Nunc placerat dolor non tellus maximus, nec ornare velit mollis. Cras ex ipsum, eleifend a gravida non, aliquam nec lacus. Nunc varius nisl at dolor consectetur euismod. Aenean bibendum tempus tellus, a semper massa. Vestibulum quis arcu ligula.</p>
<!-- Custom styles for this template -->
   {% if form.errors %}    
        <p class='error'>Invalid auth</p>
    {% endif %}
    <div id="loginbody">
        <form role="form" action="/auth/" method="post"> {% csrf_token %}
            <h2 class="form-signin-heading">Login</h2>
            <input type="text"  placeholder="Username" name="username" value="" id="username"
                   required autofocus>
            <br>
            
            <input type="password" placeholder="Password" required name="password" value=""
                   id="password">
            <br>
            <button type="submit">Sign in</button>
            <!-- Added a Forgot Password button witha a restore password thingy haven't implemented functionality -->
            <button type="button"><a href="/RestorePW/">Forgot Password?</a></button>
            
            <br>
            <br>
            Don't have an account? 
             <button type="button"><a href="/register/">Register</a></button>
        </form>
    </div>

{% endblock %}