{% extends 'base.html' %}

{% block content %}

	<h2>You're logged in!
	fringilla suscipit, ex ligula maximus neque, sed posuere risus nisl in dolor. Nullam ligula nibh, vulputate id vestibulum et, ullamcorper sit amet magna. Cras non euismod odio. Fusce eget ultrices risus. Duis massa risus, placerat ornare commodo ac, molestie a mi. Sed condimentum eu felis non bibendum. Maecenas felis urna, lobortis quis consequat sit amet, laoreet eget orci. Nunc arcu mauris, eleifend in mauris ut, fermentum efficitur neque. In cursus volutpat ante, nec consequat erat.</h2>

{% endblock %}