{% extends 'base.html' %}

{% block content %}


    <!-- Custom styles for this template -->
    {% if form.errors %}
        <p class='error'>Invalid auth</p>
    {% endif %}
    <div class="large-4 large-centered medium-4 medium-centered columns">
        <div class="login-body">
            <form role="form" action="/auth/" method="post"> {% csrf_token %}
                <h2 class="form-signin-heading">Login</h2>
                <input type="text" placeholder="Username" name="username" value="" id="username"
                       required autofocus>
                <input type="password" placeholder="Password" required name="password" value=""
                       id="password">
                <button class="button" type="submit">Sign in</button>
                <a class="button" href="/register/">
                    Register
                </a>
            </form>
        </div>

    </div>
{% endblock %}